.home {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    overflow-x: hidden;
    
    .container {
        width: 99%;
        height: 100%;
        margin-top: 90px;
        margin-left: 10px;
        margin-right: 10px;
        
        .feedRow {
            display: flex;
            margin-bottom: 20px;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 10px;
            column-gap: 10px;
        }
    }
}